<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="top">topviagens</label> 
    <ul>
        
        <li><a href="/home">Home</a></li>
        <li><a href="/criar">Criar</a></li>

    </ul>
</nav>